<div class="toolbar" role="banner">
    <img src="/assets/images/f1.png">
    <img style="margin-left: -3px;" src="/assets/images/studioz.png">
    <span></span>
    <div class="spacer"></div>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
        title="YouTube">
        <img src="/assets/images/menu.png">
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
        title="YouTube">
        <img src="/assets/images/alert.png">
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
        title="YouTube">
        <img src="/assets/images/help.png">
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
        title="YouTube">
        <img src="/assets/images/profile.png">
    </a>
</div>