.active_cart_container {
  margin: 13px;
}
.arrow {
  margin-left: 7px;
}
.add_container {
  width: 72px;
  height: 72px;
  left: 90%;
  top: 77%;
  position: fixed;
  background: #66332b;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.127704);
  border-radius: 50%;
  cursor: pointer;
}
.add_btn {
  position: absolute;
  right: 23px;
  color: white;
  font-size: 44px;
  bottom: 8px;
}
.right {
  float: right;
}
.new {
  background: rgba(23, 168, 95, 0.2);
  border-radius: 50px;
  color: #17a85f;
  padding: 0px 14px;
}
.order_footer_text {
  font-size: 12px;
  color: #8894a0;
}
label {
  padding: 4px;
}
.order_title {
  font-size: 22px;
  color: #34495e;
}
.order_tag {
  font-size: 12px;
  color: #2a292a;
}
li {
  list-style: none;
  padding: 3px;
}

// mobile Responsive

@media (min-width: 300px) and (max-width: 924px) {
  .desktop_view {
    display: none;
  }
  .add_container {
    left: 80%;
  }
  .active_cart {
    color: #34495e !important;
    background: #ddedfd;
    border-bottom: none;
  }
  .filter_img {
    margin: 11px 6px 8px 24px;
    width: 28px;
  }
}
@media (min-width: 924px) {
  .mobile_view {
    display: none;
  }
}
