<div class="row  card active_cart_container desktop_view">
    <table class="table table-striped">
        <thead>
            <tr style="border-bottom: 2px solid white;
            ">

                <th scope="col">Assembly Type <img class="arrow" src="/assets/images/arrow.png"></th>
                <th scope="col">Color <img class="arrow" src="/assets/images/arrow.png"></th>
                <th scope="col">Glass Type <img class="arrow" src="/assets/images/arrow.png"></th>
                <th scope="col">Framing <img class="arrow" src="/assets/images/arrow.png"></th>
                <th scope="col">Track Size <img class="arrow" src="/assets/images/arrow.png"></th>
                <th scope="col">Lock <img class="arrow" src="/assets/images/arrow.png"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of activeCartLog |filter:search;let i of activeCartLog" (click)="editRow(i)">
                <td>{{data.assembly_type}}</td>
                <td>{{data.color}}</td>
                <td>{{data.glass_type}}</td>
                <td>{{data.framing}}</td>
                <td>{{data.track_size}}</td>
                <td>{{data.lock}}</td>
            </tr>
        </tbody>
    </table>


</div>

<div class=" row card active_cart_container mobile_view" *ngFor="let data of activeCartLog;let i of activeCartLog"
    (click)="editRow(i)">
    <div class="row">
        <li class="order_tag">Group Name #Classic_Johnson1456 <span class="right"> #42521983 </span></li><br>
        <li class="order_title">
            {{data.assembly_type}}
        </li> <br>
        <li class="order_footer_text">
            Expires in 90 days · Created by John <span class=" new right"> new </span>
        </li>
    </div>
</div>
<div class="add_container" (click)="addCarts()"> <span class="add_btn">+ </span></div>