<div class="cart-container">
    <div class="row">
        <nav class="navbar ">

            <div class="col-12">
                <span class="header_text" [ngClass]="!isClicked ? 'active_menu':''" (click)="carts()">CARTS</span>
                <span class="header_text" [ngClass]="isClicked ? 'active_menu':''"
                    (click)="favorites()">FAVORITES</span>
            </div>

        </nav>
    </div>

    <div style="margin: 16px;" class="desktop_view">
        <div class="row">
            <div class="col" style="padding:17px;">
                <span class="cart_text" [ngClass]="!isActive ? 'active_cart':''" (click)="activeCart()">Active
                    Carts</span>
                <span class="cart_text" [ngClass]="isActive ? 'active_cart':''" (click)="ArchiveCart()">Archived
                    Carts</span>
            </div>
            <div class="col" style="padding:9px;">
                <div style="float: right;">
                    <input type="text" class="search_input" (keyup)=onSearch() [(ngModel)]="term" placeholder="search">
                    <img class="search_img" src="/assets/images/search.png">
                    <label class="filter"> <img class="filter_img" src="/assets/images/filter.png"> filter</label>
                </div>

            </div>

        </div>
        <hr style="margin: 0%;">
    </div>

    <div style="margin: 16px;" class="mobile_view">
        <div class="row">
            <div class="col mobile_cart">
                Carts
            </div>
            <div class="col main_mobile_tab">
                <div class="row">
                    <div class="col mobile_tab" [ngClass]="!isActive ? 'active_cart':''" (click)="activeCart()">
                        Active
                    </div>
                    <div class="col mobile_tab" [ngClass]="isActive ? 'active_cart':''" (click)="ArchiveCart()">
                        Archived
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="float: right;">

                    <img class="filter_img" src="/assets/images/search.png">
                    <img class="filter_img" src="/assets/images/filter.png">
                </div>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <ng-container *ngIf="!isActive; else archive">
        <app-active-carts [search]="term"></app-active-carts>
    </ng-container>

    <ng-template #archive>
        <app-archive-carts></app-archive-carts>
    </ng-template>


</div>