.cart-container {
  margin-top: 57px;
}
nav {
  background: #34495e;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
}
.header_text {
  top: calc(50% - 17px / 2 + 0.5px);
  font-family: HelveticaNeue;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.active_menu {
  border-bottom: 3px solid #f9dc10;
}
.active_cart {
  border-bottom: 2px solid #34495e;
  color: #34495e !important;
}
.cart_text {
  font-size: 16px;
  line-height: 19px;
  color: #8894a0;
  padding: 2px 13px 21px 9px;
  font-weight: 500;
  margin-left: 7px;
}
.search_input {
  width: 134px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 2px;
}

.search_img {
  float: left;
  margin: 11px 6px 8px -21px;
  position: absolute;
}
.filter_img {
}
.filter {
  margin: 2px 27px;
  width: 98px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
  color: #66332b;
}
.main_mobile_tab {
  border: 1px solid #e4e4e4;
  text-align: center;
  background: white;
}
.mobile_tab {
  padding: 5%;
  color: #8894a0;
}
.mobile_cart {
  font-size: 20px;
  line-height: 23px;
  color: #34495e;
  font-weight: 600;
  margin-top: 8px;

  padding-left: 32px;
}
// mobile Responsive

@media (min-width: 300px) and (max-width: 924px) {
  .desktop_view {
    display: none;
  }
  .active_cart {
    color: #34495e !important;
    background: #ddedfd;
    border-bottom: none;
  }
  .filter_img {
    margin: 11px 6px 8px 24px;
    width: 28px;
  }
}
@media (min-width: 924px) {
  .mobile_view {
    display: none;
  }
}
