.nav_text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px;
}
.navigation_container {
  text-align: initial;
  padding: 5px;
}
.left-arrow {
  padding-left: 5px;
}
.more_menu {
  float: right;
  margin-right: 19px;
}

.arrow {
  float: right;
  margin: 30px;
}
.order_list {
  margin-top: 1%;
  cursor: pointer;
}
.order_list .card {
  margin-bottom: 12px;
}
