<section class="cart-container">
    <div class="row">
        <nav class="navbar">
            <div class="col-6 navigation_container">
                <img class="left-arrow" style="cursor: pointer;" (click)="navigation()"
                    src="/assets/images/left-arrow.png">
                <span class="nav_text"> Create a new order</span>

            </div>
            <div class="col-6" style="float: right;">
                <img class="more_menu" src="/assets/images/more.png">
            </div>

        </nav>
    </div>
    <div class="row order_list">
        <div class="col-8" style="margin: auto;" *ngFor="let order of orderList;let i of orderList;"
            (click)="createOrder(i)">
            <div class="card ">
                <div class="row">
                    <div class="col-6">
                        <div style="margin: 16px;">
                            <label> {{order.title}}</label><br>
                            <small> {{order.sub_text}} </small>
                        </div>

                    </div>
                    <div class="col-6">
                        <span><img class="arrow" src="/assets/images/right-arrow.png"></span>
                    </div>
                </div>



            </div>

        </div>

    </div>

</section>