<section class="cart-container">
    <div class="row">
        <nav class="navbar">
            <div class="col-6 navigation_container">
                <img style="cursor: pointer;" (click)="navigation()" class="left-arrow"
                    src="/assets/images/left-arrow.png">
                <span class="nav_text"> Create a new order</span>

            </div>
            <div class="col-6" style="float: right;">
                <img class="more_menu" src="/assets/images/more.png">
            </div>

        </nav>
    </div>
</section>

<section>
    <div class="row order_list">
        <div class="col-8" style="margin: auto;">

            <div class="card">

                <div class="card-body">
                    <li>{{title}}</li>
                    <li for="">Job Name: {{jobName}}</li>
                    <li for="">Product #CWD • Garage Door</li>
                    <li for="">Availability: IN STOCK (Available for Pickup)</li>
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="minus"><span> - </span> </div>
                                <div class="numberof_item"> <span> 1 </span></div>
                                <div class="minus"><span> + </span></div>
                            </div>

                        </div>
                        <div class="col-4" style="text-align: center;">
                            <label for="">Standard Multiplier: .432</label>
                            <label for="">Secondary Multipliers Applied</label>
                            <label for=""> <img class="" src="/assets/images/setting.png"> &nbsp;
                                <span> Apply
                                    MPQ</span></label>
                        </div>
                        <div class="col-4">


                            <label for="" class="price_list">Net Price: $4500.00</label>
                            <label for="" class="price_list">Unit Price: $4800.00</label>
                            <label for="" class="price_list">View Price Details</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group" style="margin-top: 5px;" role="group" aria-label="Basic example">
                            <button type="button" class="btn group_btn"> <img class="fav" src="/assets/images/fav.png">
                                Favorites</button>
                            <button type="button" (click)="edit()" class="btn group_btn"> <img class="edit"
                                    src="/assets/images/edit.png"> Edit</button>
                            <button type="button" class="btn group_btn"> <img class="copy"
                                    src="/assets/images/copy.png">Copy</button>
                            <button type="button" class="btn group_btn" (click)="delete()"> <img class="delete"
                                    src="/assets/images/delete.png">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="row order_list">
        <div class="col-8" style="margin: auto;">
            <div class="row">
                <div class="col-6">
                    <div class="card card_height">
                        <label for="">
                            Change Delivery Date
                        </label>
                        <input type="text" class="form-controls" placeholder="Example: 31-DEC-1999">
                        <label for="">Standard Delivery: Tue May 28 - 2019</label>
                    </div>
                    <div class="card card_height">
                        <label for="">
                            Purchase Order Number
                        </label>
                        <input type="text" class="form-controls" placeholder="Enter PO Number">
                        <label for="">This PO will be useful to track this order items </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <label for="">
                            Bill Summary
                        </label>
                        <li>Sub Total <span>$ 4500.00</span></li>
                        <li>Energy Surcharge <span>$ 70.18</span></li>
                        <li>Sales Tax <span>$ 490.93</span></li>
                        <li>Total <span>$ 5061.11</span></li>
                        <hr>
                        <div><input type="checkbox" id="tax" name="tax" value="tax">
                            &nbsp;&nbsp;
                            <label for="tax"> Apply Tax</label><br>
                            <p>
                                (The 1% iStore discount is calculated into the total price for all doors and door parts.
                                Please refer to the quote or order acknowledgment for details.)
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="row order_list">
        <div class="col-8" style="margin: auto;">

            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-5  col-xl-5">
                            <label>Billing to</label>
                            <li> Bement Jared <span>Change</span></li>
                            <li>144 Curt Shores, 50, Madison Avenue
                                Hixson - 42040</li>
                            <li>Contact: (123) 456 7890</li>

                        </div>
                        <div class="col-lg-1 vertical_container">
                            <div class="vertical_line"></div>
                        </div>
                        <div class="divider">
                            <hr>
                        </div>
                        <div class="col-md-6 col-lg-5  col-xl-5">
                            <label>Shipping To</label>
                            <li>Bement Jared <span>Change</span></li>
                            <li>144 Curt Shores, 50, Madison Avenue
                                Hixson - 42040</li>
                            <li>Contact: (123) 456 7890</li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="row order_list">
        <div class="col-8 card" style="margin: auto;">
            <div class="row">
                <div class="col-5">
                    <label>Billing to</label>
                    <li> Bement Jared <span>Change</span></li>
                    <li>144 Curt Shores, 50, Madison Avenue
                        Hixson - 42040</li>
                    <li>Contact: (123) 456 7890</li>

                </div>
                <div class="col-1">
                    <div class="vertical_line"></div>
                </div>
                <div class="col-5">
                    <label>Shipping To</label>
                    <li>Bement Jared <span>Change</span></li>
                    <li>144 Curt Shores, 50, Madison Avenue
                        Hixson - 42040</li>
                    <li>Contact: (123) 456 7890</li>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section>
    <div class="row order_list">
        <div class="col-8 " style="margin: auto;">
            <div class="card">
                <div class="row">
                    <div class="col-6">

                        <small>1 Item</small><br>
                        <label for="">$5061.11</label>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-12">
                        <div style="float: right;">
                            <button class="add_more" (click)="addMore()"> <img class="edit"
                                    src="/assets/images/squre-plus.png"> Add
                                more</button>&nbsp;&nbsp;&nbsp;
                            <button class="place_order" (click)="orderPlace()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>