.nav_text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px;
}
.navigation_container {
  text-align: initial;
  padding: 5px;
}
.left-arrow {
  padding-left: 5px;
}
.more_menu {
  float: right;
  margin-right: 19px;
}

.arrow {
  float: right;
  margin: 30px;
}

.order_list {
  margin-top: 1%;
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
.help {
  width: 16px;
  height: 16px;
}
.form .form-group {
  padding: 12px;
}

.minus {
  background: #f6f8fa;
  //   height: 41px;
  width: 52px;
  text-align: center;
  border: 0.7px solid #8894a0;
  box-sizing: border-box;
  border-radius: 2.8px;
  //   margin: 11px;
  font-size: 28px;
  font-weight: 800;
  color: #34495e;
  margin: auto;
}
li {
  list-style-type: none;
}
.numberof_item {
  background: #ffffff;
  font-size: 25px;
  width: 80px;
  font-weight: 800;
  color: #34495e;
  text-align: center;
  border: 0.7px solid #8894a0;
  box-sizing: border-box;
  border-radius: 2.8px;
  margin: 11px;
  height: 48px;
}
.price_list {
  float: right;
}
.group_btn {
  background-color: #ffffff;
  color: #66332b;
  border-color: #66332b;
}

li span {
  float: right;
  margin-right: 18px;
}

.vertical_line {
  border: 1px solid #979797;
  height: 50px;
  margin: 26px;
}

.add_more {
  width: 97px;
  height: 44px;
  left: 929px;
  top: 2016px;

  background: #ffffff;
  border: 1px solid #66332b;
  box-sizing: border-box;
  border-radius: 4px;
}

.place_order {
  width: 126px;
  height: 44px;
  left: 1042px;
  top: 2016px;
  color: #ffffff;
  background: #66332b;
  border-radius: 4px;
}

.card_height {
  min-height: 50%;
}
.card {
  padding: 10px;
}
.divider {
  display: none;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .vertical_container {
    display: none;
  }
  .divider {
    display: block;
  }
}
