<section class="cart-container">
    <div class="row">
        <nav class="navbar">
            <div class="col-6 navigation_container">
                <img class="left-arrow" style="cursor: pointer;" (click)="navigation()"
                    src="/assets/images/left-arrow.png">
                <span class="nav_text"> Create a new order &nbsp; &nbsp; &nbsp; &nbsp; 1 of 3</span>

            </div>
            <div class="col-6" style="float: right;">
                <img class="more_menu" src="/assets/images/more.png">
            </div>

        </nav>
    </div>

</section>
<section>
    <div class="row order_list">
        <div class="col-8" style="margin: auto;">
            <div class="card order_list">
                <form class="form">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Select Category</label>
                        <div class="col-sm-6">
                            <select name="category" class="form-controls" id="category">
                                <option value="Residential Door">Residential Door</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Select Series &nbsp;<img class="help"
                                src="/assets/images/help.png"></label>
                        <div class="col-sm-6">
                            <select class="form-controls" name="series" id="series">
                                <option value="Canyon Ridge® Collection">Canyon Ridge® Collection</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Door Type &nbsp; <img class="help"
                                src="/assets/images/help.png"></label>
                        <div class="col-sm-6">
                            <!-- <img class="down_arrow" src="/assets/images/help.png"> -->
                            <select class="form-controls" name="door" id="door">
                                <option value="CAN212">CAN212</option>

                            </select>
                        </div>
                    </div>

                </form>

                <div class="center">

                    <hr>


                    <button class="btn" (click)="configure()">CONFIGURE</button>
                </div>

            </div>

        </div>
    </div>
</section>