.nav_text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px;
}
.navigation_container {
  text-align: initial;
  padding: 5px;
}
.left-arrow {
  padding-left: 5px;
}
.more_menu {
  float: right;
  margin-right: 19px;
}
.arrow {
  float: right;
  margin: 30px;
}

.order_list {
  margin-top: 1%;
  height: 483px;
}

.center {
  position: fixed;
  bottom: 20px;
  left: 18%;
  width: 60%;
}

.center .btn {
  padding: 10px;
  float: right;
  width: 117px;
  height: 44px;
  background: #66332b;
  border-radius: 4px;
  color: #ffffff;
}
.form {
  margin: 13px;
}
.form .form-group {
  padding: 12px;
}
.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
.help {
  width: 16px;
  height: 16px;
}
