.nav_text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px;
}
.navigation_container {
  text-align: initial;
  padding: 5px;
}
.left-arrow {
  padding-left: 5px;
}
.more_menu {
  float: right;
  margin-right: 19px;
}

.arrow {
  float: right;
  margin: 30px;
}

.order_list {
  margin-top: 1%;
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
.help {
  width: 16px;
  height: 16px;
}
.form-group {
  padding: 12px;
}

.error {
  color: #d50000;
}
.check {
  accent-color: #66332b;
}
label {
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #34495e;
}
.card-header {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  background: #e4e4e4;
  color: #34495e;
}
.add_more {
  width: 97px;
  height: 44px;
  left: 929px;
  top: 2016px;

  background: #ffffff;
  border: 1px solid #66332b;
  box-sizing: border-box;
  border-radius: 4px;
}

.place_order {
  width: 126px;
  height: 44px;
  left: 1042px;
  top: 2016px;
  color: #ffffff;
  background: #66332b;
  border-radius: 4px;
}

.preview {
  width: 97px;
  height: 44px;
  left: 929px;
  top: 2016px;

  background: #ffffff;
  border: 1px solid #66332b;
  box-sizing: border-box;
  border-radius: 4px;
}
.expand_text {
  margin: 16px;
  color: #66332b;
  font-size: 16px;
  text-align: center;
}
.Configuration_text {
  margin: 16px;
  color: #66332b;
  font-size: 16px;
}
.cart_btn {
  width: 126px;
  height: 44px;
  left: 1042px;
  top: 2016px;
  color: #ffffff;
  background: #66332b;
  border-radius: 4px;
}

.invalid {
  border: none;
  background: #95726d;
  cursor: default;
}
.valid {
  background: #66332b;
  cursor: pointer;
}
.spl_configure {
  display: none;
}
@media (min-width: 300px) and (max-width: 924px) {
  .spl_configure {
    display: block;
  }
}
