<section class="cart-container">


    <div class="row">
        <nav class="navbar">
            <div class="col-6 navigation_container">
                <img class="left-arrow" style="cursor: pointer;" (click)="navigation()"
                    src="/assets/images/left-arrow.png">
                <span class="nav_text"> Create a new order &nbsp; &nbsp; &nbsp; &nbsp; 2 of 3</span>

            </div>
            <div class="col-6" style="float: right;">
                <img class="more_menu" src="/assets/images/more.png">
            </div>

        </nav>
    </div>

</section>

<form [formGroup]="itemForm">
    <section for="Layout options">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">

                <div class="card">
                    <div class="card-header">
                        Layout options
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Assembly Type</label>
                            <div class="col-sm-6">
                                <select name="assembly_type" class="form-controls" formControlName="assembly_type"
                                    id="category">
                                    <option value="Complete Door">Complete Door</option>
                                    <option value="Offcut Door">Offcut Door</option>
                                    <option value="Full Door">Full Door</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Measure Size&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="Width">Width</label>
                                    </div>
                                    <div class="col-4">
                                        <select name="measure_size_a" formControlName="measure_size_a"
                                            class="form-controls" id="category">
                                            <option value="8 ft">8 ft.</option>

                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select name="measure_size_b" formControlName="measure_size_b"
                                            class="form-controls" id="category">
                                            <option value="2 in">2 in.</option>

                                        </select>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="Height">Height</label>
                                    </div>
                                    <div class="col-4">
                                        <select name="measure_height_a" formControlName="measure_height_a"
                                            class="form-controls" id="category">
                                            <option value="8 ft">8 ft.</option>

                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select name="measure_height_b" formControlName="measure_height_b"
                                            class="form-controls" id="category">
                                            <option value="0 in">0 in.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Windcode&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="windcode" formControlName="windcode" class="form-controls" id="category">
                                    <option value="WindCode W1">WindCode W1</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Designe&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="designe" formControlName="designe" class="form-controls" id="category">
                                    <option value="CC">CC</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Color&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="color" formControlName="color" class="form-controls" id="category">
                                    <option value="Dark Finish">Dark Finish</option>
                                    <option value="Red Finish">Red Finish</option>
                                    <option value="Green Finish">Green Finish</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section for="Window Options">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">

                <div class="card">
                    <div class="card-header">
                        Window Options
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Glass Type&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="glass_type" formControlName="glass_type" class="form-controls"
                                    id="category">
                                    <option value="Solid (No Windows)">Solid (No Windows)</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Section(s) Glazed&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="Section_glazed" formControlName="Section_glazed" class="form-controls"
                                    id="category">
                                    <option value="Section(s) Glazed">Section(s) Glazed</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Framing&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="framing" formControlName="framing" class="form-controls" id="category">
                                    <option value="Arch 1 Design">Arch 1 Design</option>
                                    <option value="Arch 2 Design">Arch 2 Design</option>
                                    <option value="Arch 3 Design">Arch 3 Design</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section for="Track Options">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">

                <div class="card">
                    <div class="card-header">
                        Track Options
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Spring&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="spring" formControlName="spring" class="form-controls" id="category">
                                    <option value="Galvanized Torsion">Galvanized Torsion</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Track Size&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="track_size" formControlName="track_size" class="form-controls"
                                    id="category">
                                    <option value="2” Flag & Jamb Brackets Loose">2” Flag & Jamb Brackets Loose</option>
                                    <option value="4” Flag & Jamb Brackets Loose">4” Flag & Jamb Brackets Loose</option>
                                    <option value="6” Flag & Jamb Brackets Loose">6” Flag & Jamb Brackets Loose</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Track Mount&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="track_mount" formControlName="track_mount" class="form-controls"
                                    id="category">
                                    <option value="Bracket">Bracket</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Track Lift&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="track_lift" formControlName="track_lift" class="form-controls"
                                    id="category">
                                    <option value="Track Lift">Track Lift</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Track Radius&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="track_radius" formControlName="track_radius" class="form-controls"
                                    id="category">
                                    <option value="12” Radius">12” Radius</option>

                                </select>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section for="Other Options">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">

                <div class="card">
                    <div class="card-header">
                        Other Options
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Lock&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="lock" formControlName="lock" class="form-controls" id="category">
                                    <option value="Inside Slide Lock (#2)">Inside Slide Lock (#2)</option>
                                    <option value="Outside Slide Lock (#2)">Outside Slide Lock (#2)</option>
                                    <option value="Inside+Outside Slide Lock (#2)">Inside+Outside Slide Lock (#2)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">MISC Lock Options&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <input type="radio" id="no_lock" class="check" formControlName="no_lock" name="no_lock"
                                    value="No Lock Hole">
                                  <label for="no_lock">No Lock Hole</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Packaging&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <select name="packaging" formControlName="packaging" class="form-controls"
                                    id="category">
                                    <option value="[x] Distributor">[x] Distributor</option>

                                </select>
                                <span class="error"> <img src="/assets/images/error.png"> Clopay CWD Models
                                    Excludes Packaging Options</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Additional Options&nbsp;<img class="help"
                                    src="/assets/images/help.png"></label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-8">
                                        <div
                                            *ngFor="let data of additionalOptions;let i =index;let j of additionalOptions ">
                                            <input type="checkbox" id="opt{{i}}" class="check" (change)="otherOption(j)"
                                                checked="{{data.type}}" name="opt{{i}}" value="{{data.opt}}">
                                            &nbsp;&nbsp;
                                            <label for="opt{{i}}"> {{data.opt}}</label><br>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <select name="struts" formControlName="struts" class="form-controls"
                                            id="category">
                                            <option value="5 Extra Struts">5 Extra Struts</option>

                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="spl_configure">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">
                <div class="card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="Configuration_text">
                                <input type="checkbox" class="check" value="No Lock Hole"> &nbsp; &nbsp; &nbsp; Special
                                Configuration Request
                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>
    </section>
    <section class="spl_configure">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">
                <div class="card ">
                    <div class="row">
                        <div class="col-6">
                            <div class="expand_text">
                                Torsion Spring Inquiry
                            </div>

                        </div>
                        <div class="col-6">
                            <span><img class="arrow" src="/assets/images/right-arrow.png"></span>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </section>
    <section class="spl_configure">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">
                <div class="card ">
                    <div class="row">
                        <div class="col-6">
                            <div class="expand_text">
                                Additional Information
                            </div>

                        </div>
                        <div class="col-6">
                            <span><img class="arrow" src="/assets/images/right-arrow.png"></span>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </section>
    <section for="preview">
        <div class="row order_list">
            <div class="col-8" style="margin: auto;">

                <div class="card">
                    <!--  -->
                    <div class="card-body">
                        <div style="float: right;">
                            <button class="preview">Preview</button>&nbsp;&nbsp;&nbsp;
                            <button class="cart_btn" [ngClass]="!formValid ? 'invalid':'valid'" type="submit"
                                (click)="placeOrder()">Add To
                                Cart</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</form>