@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: HelveticaNeue;
  src: url("/assets/fonts/Helvetica-Neue-Font/Helvetica/HelveticaNeue.ttf")
    format("truetype");
}
// * {
//   font-family: HelveticaNeue;
// }
.cart-container {
  margin-top: 57px;
}
body {
  background-color: #f4f6f8;
}
nav {
  background: #34495e;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
}
.header_text {
  top: calc(50% - 17px / 2 + 0.5px);
  font-family: HelveticaNeue;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

@media (min-width: 300px) and (max-width: 924px) {
  .toolbar {
    min-width: 102%;
  }
}
